# IDE
/.idea/
/.vscode/

# Local
/saves/
/screenshots/
/schematics/
/downloads/
/defaultconfigs/
/data/
options.txt
servers.dat
servers.dat_old

# Cache
usernamecache.json
usercache.json

# Logs
/crash-reports/
/logs/
command_history.txt

# Embeddium
/config/embeddium-fingerprint.json
/config/embeddium-mixins.properties

# JEI
/config/jei/world/

# Mixins
/.mixin.out/

# KubeJS
/rhino.local.properties
/local/
/mods/*probejs*
/.probe/
/kubejs/config/probe-settings.json
jsconfig.json

# Development
/refs/

# Exposure photos
/exposures/
/exposure_catalog_state.json

# ModernFix
/modernfix/

# Cherished Worlds
/cherishedworlds-favorites.dat
